body {
  width: 1800px;
}
header {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  padding: 10px;
}
.header-title {
 font-size: 32px;
 color: aliceblue;
 margin-right:auto;
}

.header-list-item {
 list-style:none;
 display: inline-block;
 padding: 10px;
 font-size: 20px;
}
.base {
  background-color: white;
  margin: 0 5em;
}
.self-introduction {
  margin-left: auto;
  margin-right: auto;
  width: 33em;
}
.pic-name {
  width: 16em;
  margin: 0em 9em;
  background-color: white;
}
.my-name {
  font-weight: bold;
}
.skil-level {
  margin: 0 3em;
}
.use{
  margin: 0 5em;
}
.use-content {
  margin: 0 5em;
}
.framework {
  margin: 0 5em;
}
.framework-content {
  margin: 0 5em;
}
.skil-items {
  list-style: none;
  font-weight: bold;
}
.skil-head {
  width: 7em;
  background-color: rgba(128, 128, 128, 0.199);
  border-bottom: solid 3px gray;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-pic {
  width: 20em;
}
.grid-item{
  margin: 1em;
  padding: 1em;
  background-color: rgb(185, 255, 255);
}
.title {
  font-weight: bold;
}
.btn {
  padding: 0.5em 2em;
  display: inline-block;
  width: 5em;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgb(32, 32, 32);
  border-bottom: 5px solid black;
}

