<!doctype html>
<html lang=ja>
<head>
    <meta chartset="utf-8">
    <style type="text/css" media="screen">
      @import url("/static/css/main.css");
    </style>
    <title>ポートフォリオ</title>
</head>
<body>

    <header>
        <h1 class="header-title">ポートフォリオ</h1> 
        <nav class="header-nav">
            <ul class="header-list">
                <li class="header-list-item"><a href="https://github.com/yuji-matsunami">github</a></li>
                <li class="header-list-item"><a href="https://twitter.com/pomjuices">twitter</a></li>
            </ul>
        </nav>     
    </header>
    <h2>自己紹介</h2>
    <div class="self-introduction">
    松浪悠二
    徳島大学大学院創成科学研究科理工学専攻知能情報システムコース所属
    大学院では自然言語処理の研究室に在籍しており、自然言語処理タスクにおける深層学習のためのデータ水増し手法について研究中
    卒業研究では比喩の書き換えについて研究していた。
    2021年春サポーターズと出会い、技育プロジェクトに参加しながらwebアプリケーションを開始
    </div>
    <h2>技術スタック</h2>
    Python
    Go
    html
    css
    JavaScript
    Flutter
    <h2>作品</h2>
    植物を育てよう
    heartful
    伊達式ダイエット


</body>